<div class="form-container">
  <div class="form-box">
    <div class="first-links">
    <div class="d-flex justify-content-between w-100">

      <%= link_to request.referer || root_path do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>

    <!-- Delete account dropdown (top-right) -->
<li class="nav-item dropdown list-unstyled">
  <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa-solid fa-ellipsis"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <%= button_to user_registration_path,
                 method: :delete,
                 data: { turbo_confirm: "Are you sure? This action cannot be undone." },
                 class: "dropdown-item text-danger",
                 style: "border: none; background: none; width: 100%; text-align: left;" do %>
      <i class="fa-solid fa-trash"></i> Delete Account
    <% end %>
  </div>
</li>
</div>
</div>



    <!-- Form heading -->
    <h2>
      Edit <%= resource_name.to_s.humanize %>
      <%= image_tag "pawprint.png", alt: "Paw Print", style: "width: 30px; height: 30px" %>
    </h2>

    <!-- Devise form -->
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "Email:",
                    input_html: { autocomplete: "email" } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    required: false,
                    label: "Password:",
                    input_html: {
                      autocomplete: "new-password",
                      placeholder: "Leave it blank if you don't want to change it"
                    } %>

        <%= f.input :password_confirmation,
                    required: false,
                    label: "Confirm Password:",
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :current_password,
                    required: true,
                    label: "Current Password:",
                    input_html: {
                      autocomplete: "current-password",
                      placeholder: "We need your current password to confirm your changes",
                    } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn-success" %>
      </div>
    <% end %>
