<div class="login-container" style="display: flex; justify-content: center; align-items: center; height: 70vh; margin-top: 30px;">
  <div class="login-form-box" style="width: 100%; max-width: 400px; padding: 30px; background-color: white; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
    <h2 class="text-center" style="margin-bottom: 30px;">
      Sign up
      <%= image_tag "pawprint.png", alt: "Paw Print", style: "width: 60px; height: 60px" %>
    </h2>
</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :household_id, value: session[:household_id] %>
      <div class="form-inputs" style="text-align: left;">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "Email:",
                    input_html: { autocomplete: "email" } %>

        <%= f.input :password,
                    required: true,
                    label: "Password:",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :password_confirmation,
                    required: true,
                    label: "Confirm Password:",
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions text-center" style="margin-top: 15px;">
        <%= f.button :submit, "Create Login", class: "btn btn-success text-light"  %>
      </div>
    <% end %>

    <div class="text-center mt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
