<h1>Add a New Dog</h1>

<%= form_with model: [@household, @dog], local: true do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :breed %><br>
  <%= f.select :breed,
               Dog::BREEDS,
               { prompt: "Choose a breed" },
               { class: "form-control" } %>
  </div>
  
  <div>
    <%= f.label :gender %><br>
    <%= f.select :gender,
                Dog::GENDERS,
                { prompt: "Choose a gender" },
                { class: "form-control" } %>
  </div>

  <div>
    <%= f.label :weight, "Weight (kg)" %><br>
    <%= f.text_field :weight %>
  </div>

  <div>
    <%= f.label :dob, "Date of Birth" %><br>
    <%= f.date_select :dob, start_year: 2000, end_year: Date.today.year %>
  </div>

  <div>
    <%= f.submit "Create Dog" %>
  </div>
<% end %>

<%= link_to "Back to Dogs List", household_dogs_path(@household) %>
