<div class="dog-profile-card">

  <div class="first-links">
    <div class="edit-link">
      <%= link_to edit_dog_path(@dog), class: "edit-btn" do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    </div>
  </div>

  <h1 class="dog-name mt-3"><%= @dog.name %></h1>

  <div class="dog-photo">
    <% if @dog.photo.attached? %>
      <%= image_tag @dog.photo, alt: @dog.name %>
    <% else %>
      <%= image_tag "pawprint.jpg", alt: "No photo available" %>
    <% end %>
  </div>

  <div class="dog-info">
    <p><strong>Breed:</strong> <%= @dog.breed %></p>
    <p><strong>Gender:</strong> <%= @dog.gender %></p>
    <p><strong>Weight:</strong> <%= @dog.weight %></p>
    <p><strong>Date of birth:</strong> <%= @dog.dob.strftime("%d %b %Y") if @dog.dob %></p>

    <% if @dog.vet_name.present? %>
      <p><strong>Vet Name:</strong> <%= @dog.vet_name %></p>
    <% end %>

    <% if @dog.vet_clinic.present? %>
      <p><strong>Vet Clinic:</strong> <%= @dog.vet_clinic %></p>
    <% end %>

    <% if @dog.vet_phone.present? %>
      <p><strong>Vet Phone:</strong> <%= @dog.vet_phone %></p>
    <% end %>

    <% if @dog.vet_address.present? %>
      <p><strong>Vet Address:</strong> <%= @dog.vet_address %></p>
    <% end %>

    <% if @dog.insurance_provider.present? %>
      <p><strong>Insurance Provider:</strong> <%= @dog.insurance_provider %></p>
    <% end %>

    <% if @dog.insurance_policy_number.present? %>
      <p><strong>Insurance Policy #:</strong> <%= @dog.insurance_policy_number %></p>
    <% end %>

    <% if @dog.microchip_number.present? %>
      <p><strong>Microchip #:</strong> <%= @dog.microchip_number %></p>
    <% end %>

    <% if @dog.allergies.present? %>
      <p><strong>Allergies:</strong> <%= @dog.allergies %></p>
    <% end %>

    <% if @dog.medications.present? %>
      <p><strong>Medications:</strong> <%= @dog.medications %></p>
    <% end %>

    <% if @dog.special_notes.present? %>
      <p><strong>Special Notes:</strong> <%= @dog.special_notes %></p>
    <% end %>
  </div>

  <div class="share-btn mt-5">
    <div class="mt-3">
      <%= link_to new_dog_shareable_profile_path(@dog), class: "btn btn-primary" do %>
         Share <i class="fa-regular fa-share-from-square ms-2"></i>
      <% end %>

      <% if @dog.current_share_profile %>
        <%= link_to dog_shareable_profile_path(@dog, @dog.current_share_profile),
                    class: "btn btn-success" do %>
          <i class="bi bi-link"></i> View Active Share Link
        <% end %>
      <% end %>
    </div>
  </div>
</div>
