<h1><%= @dog.name%></h1>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
<strong>Gender:</strong>
<%= @dog.gender%>
</p>

<p>
<strong>Weight:</strong>
<%= @dog.weight%>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @dog.date %>
</p>


<%= link_to "Edit Dog", edit_dog_path(@dog) %> |
<%= link_to "Back to Household", household_path(@dog.household) %> |
<%= link_to "Delete Dog", dog_path(@dog),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
