<div class="dog-profile-card">
  <div class="back-link">
    <%= link_to household_dogs_path(@dog.household) do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>

  <h1 class="dog-name"><%= @dog.name %></h1>

  <div class="dog-photo">
    <% if @dog.photo.attached? %>
      <%= image_tag @dog.photo, alt: @dog.name %>
    <% else %>
      <p>No photo available</p>
    <% end %>
  </div>

  <div class="dog-info">
    <p><strong>Breed:</strong> <%= @dog.breed %></p>
    <p><strong>Gender:</strong> <%= @dog.gender %></p>
    <p><strong>Weight:</strong> <%= @dog.weight %></p>
    <p><strong>Date of birth:</strong> <%= @dog.dob.strftime("%d %b %Y") if @dog.dob %></p>
  </div>

  <div class="dog-actions">
    <%= link_to "Edit Dog", edit_dog_path(@dog), class: "edit-btn" %> |
    <%= link_to "Delete Dog", dog_path(@dog),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "delete-btn" %>
  </div>
</div>
