<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon d-none d-md-block">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "doglog-text-plum.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to household_dogs_path(current_user.household), class: "nav-link" do %>
              <i class="fa-solid fa-paw"></i> All Dogs
            <% end %>
          </li>
          <% if @dog&.persisted? %>
          <li class="nav-item">
            <%= link_to dog_path(@dog), class: "nav-link" do %>
            <i class="fa-solid fa-bone"></i> <%= @dog.name %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to dog_documents_path(@dog), class: "nav-link" do %>
            <i class="fa-regular fa-file"></i> Doguments
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to dog_appointments_path(@dog), class: "nav-link" do %>
            <i class="fa-regular fa-calendar"></i> Puppointments
            <% end %>
          </li>
          <li class="nav-item">
            <%= button_to dog_chats_path(@dog), method: :post, class: "nav-link" do %>
            <i class="fa-regular fa-comment"></i> Chat
            <% end %>
          </li>
          <% end %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "user_icon.png", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to dashboard_path, class: "dropdown-item" do %>
                <i class="fa-solid fa-user-pen"></i> Your Dashboard
              <% end %>
              <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                <i class="fa-solid fa-right-from-bracket"></i> Log out
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
