<div class="container">
  <%= link_to root_path do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <h1 class="my-3" id="chat_title"><%= @chat.title %></h1>

  <div id="new_message_container">
    <%= simple_form_for [@chat, @message] do |f| %>
      <%= f.input :content, label: "Ask a question", required: true, placeholder: "What's up?" %>
      <%= f.button :submit, "Ask", class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div>
    <%= button_to "#", method: :post, class: "btn btn-outline-primary my-3" do %>
      <i class="fa-solid fa-file-arrow-down"></i> End and save summary
    <% end %>
  </div>
</div>
