<h1>Create your post or upload a document</h1>
<%# <p>Find me in app/views/documents/create.html.erb</p> %>
<%= form_with model: [@household, @dog, @document], local: true do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

  <div>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>

  <div>
    <%= f.submit "Create a Post" %>
  </div>

<h1>Add a New Document</h1>

<% end %>

<%= link_to "Back to Dogs List", household_dogs_path(@household) %>
