<div class="container">
  <h1>Edit your document</h1>
  <%= simple_form_for @document do |f| %>
    <%= f.input :title,
                label: "Title",
                placeholder: "e.g. Vaccination Record" %>

    <%= f.input :content,
                as: :text,
                label: "Content/Notes",
                placeholder: "Add your notes here..." %>

    <%= f.input :category,
            collection: Document::CATEGORIES,
            prompt: "Select a category" %>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

    <%= f.submit "Update Document", class: "btn btn-warning btn-lg my-5" %>
    <%= link_to "Cancel", dog_documents_path(@document.dog), class: "btn btn-warning btn-lg my-5" %>
   <% end %>
</div>
