<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center my-4">
    <div>
      <%= link_to dog_path(@dog) do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
    <%= link_to "New", new_dog_document_path(@dog), class: "btn btn-warning" %>
  </div>

  <h1>All Documents</h1>

  <% @documents.each do |document| %>
    <div class="col-md-5 mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <h5><%= document.title %></h5>
        <div class="d-flex gap-3 align-items-center">
          <%= link_to "View", document_path(document), class: "btn btn-warning" %>
          <%= link_to edit_document_path(document) do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          <%= link_to document_path(document), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-danger" do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
      <p>
        <span class="badge bg-primary"><%= document.category %></span>
      </p>
    </div>
  <% end %>
</div>
