<div class="container my-3">
  <h1>Create notes or upload a file</h1>
  <%= simple_form_for [@dog, @document] do |f| %>
    <%= f.input :title,
                label: "Title",
                input_html: { class: 'bg-white' },
                placeholder: "e.g. Vaccination Record" %>

    <%= f.input :content,
                as: :text,
                label: "Content/Notes",
                input_html: { class: 'bg-white' },
                placeholder: "Add your notes here..." %>

    <%= f.input :category,
            input_html: { class: 'bg-white' },
            collection: Document::CATEGORIES,
            prompt: "Select a category" %>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

    <% other_dogs = @dog.household.dogs.where.not(id: @dog.id) %>
    <% if other_dogs.any? %>
      <fieldset class="mb-3">
        <legend>Also add to other dogs?</legend>
        <% other_dogs.each do |dog| %>
          <div class="form-check">
            <%= check_box_tag "copy_to_dog_ids[]", dog.id, false, class: "form-check-input", id: "dog_#{dog.id}" %>
            <%= label_tag "dog_#{dog.id}", dog.name, class: "form-check-label" %>
          </div>
        <% end %>
      </fieldset>
    <% end %>

    <%= f.submit "Save", class: "btn btn-warning search-btn btn-lg my-5" %>
    <%= link_to "Cancel", dog_documents_path(@dog), class: "btn cancel-btn btn-lg my-5" %>
   <% end %>
</div>
