  <div class="container">
  <h1>Edit an appointment</h1>
  <%= simple_form_for @appointment do |f| %>
    <div>
    <%= f.input :title,
                label: "Title",
                placeholder: "e.g. Vaccination" %>
    </div>
    <div>
    <%= f.input :location,
                as: :text,
                label: "Location" %>
    </div>

    <div class="form-group">
      <%= f.label :start_time, "Start Date and Time" %>
      <%= f.text_field :start_time,
                       class: "form-control datepicker",
                       placeholder: "Select start date and time",
                       readonly: true %>
    </div>

    <div class="form-group">
      <%= f.label :end_time, "End Date and Time" %>
      <%= f.text_field :end_time,
                       class: "form-control datepicker",
                       placeholder: "Select end date and time",
                       readonly: true %>
    </div>

    <div>
    <%= f.input :host,
                label: "Host",
                placeholder: "Doctor Miller" %>
    </div>

    <%= f.input :appointment_type,
            collection: Appointment::TYPES,
            prompt: "Select type" %>

  <div>
    <%= f.input :appointment_notes,
                label: "Notes",
                placeholder: "Do not forget the Vaccination Passport" %>
    </div>

    <%= f.submit "Save", class: "btn btn-warning btn-lg my-5" %>
  <% end %>
</div>
