<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="d-flex justify-content-between align-items-start mb-4">
        <div class="my-4">
          <%= link_to dog_appointments_path(@appointment.dog) do %>
            <i class="fa-solid fa-chevron-left icon"></i>
          <% end %>
        </div>

        <div class="my-4 d-flex gap-3">
          <%= link_to edit_appointment_path(@appointment), class: "text-secondary action-icon" do %>
            <i class="fa-regular fa-pen-to-square icon" style="font-size: 1.1rem;"></i>
          <% end %>
          <%= button_to appointment_path(@appointment),
                       method: :delete,
                       data: {turbo_confirm: "Are you sure?"},
                       class: "btn btn-link p-0 text-danger action-icon",
                       style: "border: none; background: none;" do %>
            <i class="fa-regular fa-trash-can" style="font-size: 1.1rem;"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0"><%= @appointment.title %></h3>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-sm-4">
              <strong>Start Date & Time:</strong>
            </div>
            <div class="col-sm-8">
              <%= @appointment.start_time.strftime("%B %d, %Y at %H:%M") %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4">
              <strong>End Date & Time:</strong>
            </div>
            <div class="col-sm-8">
              <%= @appointment.end_time.strftime("%B %d, %Y at %H:%M") %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4">
              <strong>Duration:</strong>
            </div>
            <div class="col-sm-8">
              <%= distance_of_time_in_words(@appointment.start_time, @appointment.end_time) %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4">
              <strong>Host:</strong>
            </div>
            <div class="col-sm-8">
              <%= @appointment.host %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-4">
              <strong>Location:</strong>
            </div>
            <div class="col-sm-8">
              <%= @appointment.location %>
            </div>
        </div>


      </div>
    </div>
  </div>
</div>
