<div class="container py-4">

  <div class="d-flex align-items-center mb-3">
    <%= link_to dashboard_path, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-arrow-left me-1"></i> Household
      <% end %>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5 class="mb-0"><i class="fa-solid fa-pen me-2"></i>Household Name</h5>
        </div>
        <div class="card-body">
          <%= simple_form_for @household do |f| %>
            <%= f.input :name, label: false, placeholder: "Enter household name" %>
            <%= f.submit "Update Name", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-4">
    <div class="col-12">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5 class="mb-0"><i class="fa-solid fa-user-plus me-2"></i>Household Members</h5>
        </div>
        <div class="card-body">
          <ul class="list-group mb-2">
          <% @household.users.each do |user| %>
            <li class="list-group-item"><%= user.email %></li>
          <% end %>
          </ul>
          <p class="text-muted mb-3">Invite others to join your household and help manage your dogs.</p>
          <a href="#" class="btn btn-outline-primary" aria-disabled="true">
            <i class="fa-solid fa-envelope me-1"></i>Invite User
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
